<h1 class="welcome-text">Error 403</h1>
<blockquote><h2 class="footer-menu">WTF! YOU SHOULDN'T BE HERE! GET OUT! (or you can try it tomorrow... I might change my mind)</h2>
<h3 class="footer-menu">Please, go back to the <%= link_to 'main page', root_path, class: 'error-link' %>.</h3></blockquote>