<h1 class="welcome-text">Error 500</h1>
<blockquote><h2 class="footer-menu">This is an internal server error. I don't even know what it means... I'm sorry.</h2>
<h3 class="footer-menu">Please, go back to the <%= link_to 'main page', root_path, class: 'error-link' %>.</h3></blockquote>
