<h1 class="welcome-text">Error 404</h1>
<blockquote><h2 class="footer-menu">We have mothers looking for whatever you need, but they are not able to find it.<br/>If they can't find it, is because whatever you need doesn't exist.</h2>
<h3 class="footer-menu">Please, go back to the <%= link_to 'main page', root_path, class: 'error-link' %>.</h3></blockquote>
